/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
.BlogView {
  display: flex;
}

.editor {
  height: 100vh;
  width: 50vw;
  overflow: hidden;
}

.preview {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.markdown-to-html {
  height: 100%;
  width: 50vw;
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: black;
  color: green;
}

.markdown-to-html a {
  text-decoration: none;
  color: green;
}

.BlogListerView {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: green;
  justify-content: flex-start;
  padding: 2%;
  align-items: flex-start;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: none;
}

.BlogTile {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.AddBlogTile {
  display: flex;
  padding: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.createBlogInput {
  border-radius: 5px;
  align-self: flex-start;
  width: 40%;
  height: 160%;
}

.createBlogButton {
  border-radius: 10px;
  margin-left: 1%;
  background-color: #bab86c;
  color: green;
  height: 180%;
  margin-right: 47%;
}

.BlogListerBlogs {
  margin-left: 1%;
  background-color: black;
}

.BlogTileData {
  display: flex;
  flex-direction: column;
  color: green;
  background-color: black;
  width: 100%;
}

a {
  text-decoration: none;
  color: green;
}

.BlogTileDelete {
  align-self: center;
}

.BlogTileDeleteLogo {
  height: 50px;
  width: 50px;
}

.HomeView {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: green;
  justify-content: center;
  padding: 2%;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: none;
}

.password-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.password {
  width: 20%;
  height: 5%;
}

.logout-button {
  border-radius: 10px;
  margin-left: 1%;
  background-color: #bab86c;
  color: green;
  height: 180%;
  justify-content: flex-end;
}
